<IfModule mod_ssl.c>

  <VirtualHost _default_:443>

    ServerAdmin webmaster@localhost
    ServerName {{ apache_site_name }}
  {% if apach_site_aliases is defined %}
    ServerAlias {{ apache_site_aliases | join(' ') }}
  {% endif %}

    DocumentRoot /var/www/html

    SSLEngine on
    SSLCertificateFile /etc/apache2/ssl/cert.pem
    SSLCertificateKeyFile /etc/apache2/ssl/key.pem

    <FilesMatch "\.(cgi|shtml|phtml|php)$">
      SSLOptions +StdEnvVars
    </FilesMatch>
    <Directory /usr/lib/cgi-bin>
      SSLOptions +StdEnvVars
    </Directory>
  </VirtualHost>
</IfModule>
